*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
  background: #061122;

  display: grid;
  grid-template-rows: 4.05em 1fr 20px;
  padding-bottom: 16px;
  min-height: 100%;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
}

li::before {
  content: "";
  display: inline-block;
  background-image: url(./assets/icon-moon.svg);
  background-size: contain;
  width: 22.94px;
  height: 22.94px;
  margin-right: 17.06px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

a {
  text-decoration: underline dashed currentColor;
  color: inherit;
}

a:hover {
  text-decoration-style: solid;
}

.header {
  background: #1b273a;
  height: 4.05em;
  padding: 0 2.16em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 18px;
  line-height: 52px;
  color: rgba(247, 240, 234, 0.6);
}

.header h1 {
  margin: 0;

  display: flex;
  align-items: center;
}

.header h1::before {
  content: "";
  display: inline-block;
  background-image: url(./assets/icon-moon.svg);
  background-size: contain;
  height: 1.66em;
  width: 1.66em;
  margin-right: 0.83em;
}

main {
  padding: 48px;
  display: grid;
  align-content: start;
  justify-items: center;
}

.time-select-form {
  --line-height: 24px;
  font-size: 14px;
  line-height: var(--line-height);
  color: #ebecf0;

  display: grid;

  margin-bottom: 64px;
}

.time-select-form label {
  min-height: var(--line-height);
  margin-bottom: 8px;
}

.time-select-form select {
  --padding: 16px;

  width: 320px;
  height: 48px;
  padding: 0 var(--padding);

  background: #42526e;
  border: 1px solid #253858;
  border-radius: 4px;

  background-image: url(./assets/icon-chevron-down.svg);
  background-position: center right var(--padding);
  background-repeat: no-repeat;

  font-size: 14px;
  line-height: 24px;
  color: #fafbfc;
}

.results header {
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;

  color: rgba(255, 255, 255, 0.8);
}

.results header::after {
  content: "";
  display: block;
  width: 222px;
  height: 2px;
  background: #37445a;
  margin: 32px auto;
}

.results ul {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-left: 72px;
}

.results li {
  margin-bottom: 16px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 640px) {
  main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .time-select-form {
    width: 100%;
  }

  .time-select-form select {
    width: 100%;
  }

  .results {
    width: 100%;
  }

  .results header {
    font-size: 24px;
    line-height: 32px;
  }

  .results ul {
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .results header {
    font-size: 18px;
    line-height: 24px;
  }
}
